.offers-wrap {
  background-color: white;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 700px;
  border-radius: 16px;

  .form-control {
    padding: 12px;
  }

  .form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;

    .btn {
      padding: 12px 24px;

      font-weight: 600;
    }

    .btn-primary {
      background-color: transparent;
      color: #0d6efd;
      border: 1px solid #0d6efd;
      font-weight: 400;

      &:hover {
        background-color: #0d6efd;
        color: white;
      }
    }

    .btn-danger {
      background-color: transparent;
      color: #dc3545;
      border: 1px solid #dc3545;
      font-weight: 400;

      &:hover {
        background-color: #dc3545;
        color: white;
      }
    }

    .btn-outline-success {
      background-color: transparent;
      color: #146c43;
      border: 1px solid #146c43;
      font-weight: 400;

      &:hover {
        background-color: #146c43;
        color: white;
      }
    }

    .bg-dark-green {
      background-color: #146c43;
      color: white;
    }
  }
}

.object-fit-cover {
  object-fit: cover;
}

.image-grid {
  height: 400px;
  width: 100%;
  min-height: 300px;
}

.image-wrapper {
  border-radius: 9px;
  overflow: hidden;
}
