<div class="banner-active-booking" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1571459/pexels-photo-1571459.jpeg)">
  <h1 class="text-center mt-4 bookings-title mb-4 ">My Booking History Dashboard</h1>
  <p class="text-center mb-0 description-text fs-5">
      Welcome <%= current_user.first_name%>, here you can view and manage all your current and upcoming bookings with ease.
  </p>
</div>


<div class="container">
  <% active_bookings = @bookings.reject(&:cancelled?) %>
  <% cancelled_bookings = @bookings.select(&:cancelled?) %>
  <% if active_bookings.any? %>
    <h2 class="mt-4 mb-4">Latest Bookings >>> </h2>

    <div class="row">
      <% active_bookings.each do |booking| %>
        <% if booking.offer.user == current_user || booking.user == current_user %>
          <%= render partial: "booking_card", locals: { booking: booking, current_user: current_user } %>
        <% end %>
      <% end %>

      <% cancelled_bookings.each do |booking| %>
        <% if booking.user == current_user %>
          <%= render partial: "booking_card", locals: { booking: booking, current_user: current_user } %>
        <% end %>
      <% end %>
    </div>
  <%end%>

  <div class="container mt-2 text-left">
    <%= link_to "Back to home page", root_path, class: "btn btn-secondary border-2 rounded-3" %>
  </div>
</div>
