<div class="container mt-4">
  <h2>Complete your booking for <%= @booking.offer.title %></h2>

  <%= form_with url: success_booking_path(@booking), method: :post,
                  html: { data: {
                    controller: "stripe",
                    stripe_target: "form",
                    stripe_public_key_value: ENV['STRIPE_PUBLISHABLE_KEY'],
                    stripe_client_secret_value: @payment_intent.client_secret,
                    action: "submit->stripe#submit"
                  } } do |f| %>
  <div class="container padding-card">
    <div data-stripe-target="card" class="my-5"></div>
  </div>

  <%= f.submit "Pay now", data: { stripe_target: "submit" }, class: "btn btn-success" %>
  <% end %>
</div>
