<div class="container mt-4">
  <div class="payment-card">
    <h2 class="payment-card-title">Complete your booking for <%= @booking.offer.title %></h2>
    <h4 class="payment-card-title">The total price is: <%= number_to_currency(@booking.total_price) %></h4>


      <%= form_with url: success_booking_path(@booking), method: :post,
                      html: { data: {
                        controller: "stripe",
                        stripe_target: "form",
                        stripe_public_key_value: ENV['STRIPE_PUBLISHABLE_KEY'],
                        stripe_client_secret_value: @payment_intent.client_secret,
                        action: "submit->stripe#submit"
                      } } do |f| %>
      <div class="payment-card-content">
        <div data-stripe-target="card" class="my-5"></div>
      </div>

    <%= f.submit "Pay now", data: { stripe_target: "submit" }, class: "payment-card-pay-btn" %>
    <% end %>
  </div>
</div>
