<h1>Bookings#show</h1>
<p>Find me in app/views/bookings/show.html.erb</p>






<%# It is used to edit an existing booking %>
<div class="container">
  <%= link_to "Edit Booking", edit_booking_path, class: "btn btn-primary" %>
  <%= link_to "<< To offers", root_path, class: "btn btn-secondary" %>
</div>
