
    <div class="row mb-3">
      <div class="col-6 m-auto">
        <div class="offer-form">
          <h1 class="h4">PROPERTY INFORMATION </h1>
          <p class="text-white">You can edit your property below.Once you submit, your property will be listed on our platform.</p>
          <div class="mt-2">
            <%= render "form", offer: @offer %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
