<div class="container mt-2">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="offer-form">
        <h1> Editing your offer with ID: <%= @offer.id %></h1>
        <div class="mt-2">
          <%= render "form", offer: @offer %>
        </div>
      </div>
    </div>
  </div>
</div>
