<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <% @offers.each do |offer| %>
        <h4><strong><%= offer.title %></strong></h4>
        <p><%= offer.description %></p>
        <p><%= "#{offer.price_per_night}€" %></p>
      <% end %>
    </div>
  </div>
</div>
