<h1>Offers#show</h1>
<p><%= @offer.title %></p>
<p><%= @offer.description %></p>

<div class="form-actions mb-2">
  <%= button_to "Delete offer", offer_path(@offer), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
</div>

<%= link_to "Back to the home page", offers_path %>
